@using Wine_Lab.Data.Models
@model Article

<div class="container" style="width: 100vh;">
    <div class="row">
        <div class="col-sm-12 mt-5">
            <div class="news-img-container">
                <img src="@Model.ImgPath" class="img-news-detail">
            </div>
            <div class="text-center">
                <h1 class="news-title mb-4">@Model.Title</h1>
            </div>
            @*Найти аналог для utext*@
            <div class="mt-2 mb-2">@Model.Content</div>
            @*Найти аналог для utext*@
            <a asp-controller="Article" asp-action="Index" class="btn btn-primary mb-2">Назад</a>
        </div>
    </div>
</div>
